<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>Login</title>
</head>
<body>
    <div layout:fragment="container">

        <form class="form-signin" th:action="@{/login}" th:object="${user}" action="/login" method="post">
            <h2 class="form-signin-heading">Bitte einloggen</h2>
            
            <div class="alert alert-danger" th:if="${param.error}">
                E-Mail oder Password waren falsch, oder Ihr Account ist noch nicht aktiviert. Bitte versuchen Sie es noch einmal.
            </div>
            <input type="text" id="inputEmail" name="username" class="form-control top" placeholder="Benutzername oder E-Mail" required="required" autofocus="autofocus"/>
            <input type="password" id="inputPassword" name="password" class="form-control bottom" placeholder="Passwort" required="required"/>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember-me"/>Login merken
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Einloggen</button>
            <a th:href="@{/user/register}" class="btn btn-lg btn-primary btn-block" role="button">Registrieren</a>
        </form>


    </div>
</body>
</html>