<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">

<head>
<title>Ernährungstagebuch</title>
<meta layout:fragment="meta-desc"
	content="Ernährungstagebuch. Nimm hier deine täglichen Essgewohnheiten auf." />
</head>

<body>
	<div layout:fragment="container">

		<h3>Frühstück</h3>

		<a th:href="@{/food}" class="btn btn-primary">Produkt wählen</a>

		<form th:action="@{/diary/diet/meal/add}" th:object="${meal}" method="post">
			<input type="hidden" th:name="mealType" th:value="${meal.mealType}" />


			<!-- <table> -->
			<!-- <tr th:each="var : ${#vars}"> -->
			<!--     <td th:text="${var.key}"></td> -->
			<!--     <td th:text="${var.value}"></td> -->
			<!-- </tr> -->
			<!-- </table> -->

			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Menge</th>
						<th>Einheit</th>
						<!-- 						<th>Description</th> -->
					</tr>
				</thead>
				<tbody>
					<tr th:each="product, stat : ${meal.formProducts}">
						<td th:text="${product.product.name}"></td>
						<td th:text="${product.amount}"></td>
						<!-- 						<td th:text="${product.unitType}"></td> -->
						<td><select>
								<option th:each="state : ${T(de.sveri.getless.entity.UnitType).values()}"
									th:value="${state}" th:text="${state}"></option>
							</select></td>
						<!-- 						<td><input type="checkbox" -->
						<!-- 							th:name="|clientList[${stat.index}].clientID|" -->
						<!-- 							th:value="${currentClient.getClientID()}" -->
						<!-- 							th:checked="${currentClient.selected}" /></td> -->
						<!-- 						<td th:text="${currentClient.getClientID()}"></td> -->
						<!-- 						<td th:text="${currentClient.getIpAddress()}"></td> -->
						<!-- 						<td th:text="${currentClient.getDescription()}"></td> -->
					</tr>
				</tbody>
			</table>
			<button type="submit" value="submit" class="btn btn-success">Submit</button>
		</form>

		<!-- 		<form action="#" th:action="@{/diary/diet/meal/add}" -->
		<!-- 			th:object="${AddMealForm}" method="post"> -->

		<!-- 			<table class="table table-bordered table-hover table-striped"> -->
		<!-- 				<thead> -->
		<!-- 					<tr> -->
		<!-- 						<th>Select</th> -->
		<!-- 						<th>Client ID</th> -->
		<!-- 						<th>IP Addresss</th> -->
		<!-- 						<th>Description</th> -->
		<!-- 					</tr> -->
		<!-- 				</thead> -->
		<!-- 				<tbody> -->
		<!-- 					<tr th:each="currentClient, stat : ${wrapper.clientList}"> -->
		<!-- 						<td><input type="checkbox" -->
		<!-- 							th:name="|clientList[${stat.index}].clientID|" -->
		<!-- 							th:value="${currentClient.getClientID()}" -->
		<!-- 							th:checked="${currentClient.selected}" /></td> -->
		<!-- 						<td th:text="${currentClient.getClientID()}"></td> -->
		<!-- 						<td th:text="${currentClient.getIpAddress()}"></td> -->
		<!-- 						<td th:text="${currentClient.getDescription()}"></td> -->
		<!-- 					</tr> -->
		<!-- 				</tbody> -->
		<!-- 			</table> -->
		<!-- 			<button type="submit" value="submit" class="btn btn-success">Submit</button> -->
		<!-- 		</form> -->


		<!-- 		<form th:action="@{/}" th:object="${user}" action="/user/reset-password" method="post"> -->
		<!-- 		<table class="table"> -->
		<!-- 			<thead> -->
		<!-- 				<tr> -->
		<!-- 					<th width="200px">Name</th> -->
		<!-- 					<th width="100px">Menge</th> -->
		<!-- 					<th>Inhaltsstoffe</th> -->
		<!-- 				</tr> -->
		<!-- 			</thead> -->
		<!-- 			<tbody> -->
		<!-- 				<tr th:each="product : ${products}"> -->
		<!-- 					<td><a th:href="@{/food/product/{path}(path=${product.id})}" -->
		<!-- 							th:text="${#strings.abbreviate(product.name, 140)}">Name</a></td> -->
		<!-- 					<td><input type="text" class="form form-control"/></td> -->
		<!-- 					<td th:text="${product.ingredients}">Inhaltsstoffe</td> -->
		<!-- 				</tr> -->
		<!-- 			</tbody> -->
		<!-- 		</table> -->


		<!-- 		<a th:href="@{/" -->


	</div>
</body>
</html>