<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">

<head>
<title>Ernährungstagebuch.</title>
<meta layout:fragment="meta-desc"
	content="Ernährungstagebuch. Nimm hier deine täglichen Essgewohnheiten auf." />
</head>

<body>
	<div layout:fragment="container">
		<p>Actual page content</p>

		<a th:href="@{/user/register}" class="btn btn-primary">Jetzt Registrieren.</a>
	</div>
</body>
</html>